<ion-view class="home" view-title="{{apptitle}}">
    <ion-content class="has-header centerpage padding-horizontal">
        <div>
            <h2 style="font-size:1.8em">{{apptitle}}</h2>
            <p style="font-size:1.2em">
                Welcome to the <span class="text-nowrap">{{apptitle}}</span> <span class="text-nowrap">mobile app.</span>
            </p>
            <p style="margin-top: 20px; font-size: 1.2em">Start by selecting an option from the menu.</p>
        </div>
    </ion-content>
</ion-view>
